.simple-editor-content {
  margin-top: 1rem;
  min-height: 300px;
  cursor: text;
}
.tiptap {
  p {
    line-height: 1.7;
    letter-spacing: -0.01rem;
  }
  :first-child {
    margin-top: 0;
  }

  /* placeholder */
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 14px;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.7;
  }

  .tiptap h1 {
    font-size: calc(2.25rem * var(--font-scale));
  }
  .tiptap h2 {
    font-size: calc(1.75rem * var(--font-scale));
  }
  .tiptap h3 {
    font-size: calc(1.5rem * var(--font-scale));
  }
  .tiptap h4 {
    font-size: calc(1.25rem * var(--font-scale));
  }
  .tiptap h5 {
    font-size: calc(1.125rem * var(--font-scale));
  }
  .tiptap h6 {
    font-size: calc(1rem * var(--font-scale));
  }

  p {
    code {
      // background: var(--tt-scrollbar-color);
      border-radius: 0.5rem;
      font-family: monospace;
      font-weight: bold;
      color: #eb5757;
      border: 1px solid #eb5757;
      font-size: 0.9rem;
      padding: 0.25rem 0.15rem;
    }
  }

  //   outline None
  &:focus,
  pre:focus {
    outline: none;
  }
  //   block Quote
  blockquote {
    border-left: 3px solid gray;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  //   code Highlight
  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  .mention {
    background: var(--primary);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: var(--background);
    padding: 0.3rem 0.3rem;
    font-size: 12px;

    &::after {
      content: "\200B";
    }
  }

  // link
  a {
    color: var(--tt-brand-color-400);
    cursor: pointer;

    &:hover {
      color: var(--tt-brand-color-700);
    }
  }

  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }

  /* List styles */

  /* =====================
  LISTS
  ===================== */
  // Common list styles
  ol,
  ul {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    ol,
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  li {
    p {
      margin-top: 0;
    }
  }

  // Ordered lists
  ol {
    list-style: decimal;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  // Unordered lists
  ul:not([data-type="taskList"]) {
    list-style: disc;

    ul {
      list-style: circle;

      ul {
        list-style: disc;
      }
    }
  }

  // Task lists
  ul[data-type="taskList"] {
    padding-left: 0.25em;

    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      &:not(:has(> p:first-child)) {
        list-style-type: none;
      }

      &[data-checked="true"] {
        > div > p {
          opacity: 0.5;
          text-decoration: line-through;
        }

        > div > p span {
          text-decoration: line-through;
        }
      }

      label {
        position: relative;
        padding-top: 4px;
        padding-right: 8px;

        input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }

        span {
          display: block;
          width: 1em;
          height: 1em;
          border: 1px solid var(--tt-checklist-border-color);
          border-radius: var(--tt-radius-xs, 0.25rem);
          position: relative;
          cursor: pointer;
          background-color: var(--tt-checklist-bg-color);
          transition: background-color 80ms ease-out, border-color 80ms ease-out;

          &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 0.75em;
            height: 0.75em;
            background-color: var(--tt-checklist-check-icon-color);
            opacity: 0;
            -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
              center/contain no-repeat;
            mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
              center/contain no-repeat;
          }
        }

        input[type="checkbox"]:checked + span {
          background: var(--tt-checklist-bg-active-color);
          border-color: var(--tt-checklist-border-active-color);

          &::before {
            opacity: 1;
          }
        }
      }

      div {
        flex: 1 1 0%;
        min-width: 0;
      }
    }
  }
}
/* =====================
  Img Uploader
  ===================== */
// Common list styles
.tiptap-image-upload {
  margin: 2rem 0;

  input[type="file"] {
    display: none;
  }

  .tiptap-image-upload-dropzone {
    position: relative;
    width: 3.125rem;
    height: 3.75rem;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
  }

  .tiptap-image-upload-icon-container {
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    bottom: 0;
    right: 0;
    background-color: var(--tiptap-image-upload-icon-bg);
    border-radius: var(--tt-radius-lg, 0.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tiptap-image-upload-icon {
    width: 0.875rem;
    height: 0.875rem;
    color: var(--tiptap-image-upload-icon-color);
  }

  .tiptap-image-upload-dropzone-rect-primary {
    color: var(--tiptap-image-upload-icon-doc-bg);
    position: absolute;
  }

  .tiptap-image-upload-dropzone-rect-secondary {
    position: absolute;
    top: 0;
    right: 0.25rem;
    bottom: 0;
    color: var(--tiptap-image-upload-icon-doc-border);
  }

  .tiptap-image-upload-text {
    color: var(--tiptap-image-upload-text-color);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: normal;

    em {
      font-style: normal;
      text-decoration: underline;
    }
  }

  .tiptap-image-upload-subtext {
    color: var(--tiptap-image-upload-subtext-color);
    font-weight: 600;
    line-height: normal;
    font-size: 0.75rem;
  }

  .tiptap-image-upload-preview {
    position: relative;
    border-radius: var(--tt-radius-md, 0.5rem);
    overflow: hidden;

    .tiptap-image-upload-progress {
      position: absolute;
      inset: 0;
      background-color: var(--tiptap-image-upload-progress-bg);
      transition: all 300ms ease-out;
    }

    .tiptap-image-upload-preview-content {
      position: relative;
      border: 1px solid var(--tiptap-image-upload-border);
      border-radius: var(--tt-radius-md, 0.5rem);
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .tiptap-image-upload-file-info {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      height: 2rem;

      .tiptap-image-upload-file-icon {
        padding: 0.5rem;
        background-color: var(--tiptap-image-upload-icon-bg);
        border-radius: var(--tt-radius-lg, 0.75rem);

        svg {
          width: 0.875rem;
          height: 0.875rem;
          color: var(--tiptap-image-upload-icon-color);
        }
      }
    }

    .tiptap-image-upload-details {
      display: flex;
      flex-direction: column;
    }

    .tiptap-image-upload-actions {
      display: flex;
      align-items: center;

      .tiptap-image-upload-progress-text {
        font-size: 0.75rem;
        color: var(--tiptap-image-upload-border-active);
      }

      .tiptap-image-upload-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        color: var(--tt-button-default-icon-color);
        transition: color 200ms ease;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .tiptap-image-upload-dragger {
    padding: 2rem 1.5rem;
    border: 1.5px dashed var(--tiptap-image-upload-border);
    border-radius: var(--tt-radius-md, 0.5rem);
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &-active {
      border-color: var(--tiptap-image-upload-border-active);
      background-color: rgba(
        var(--tiptap-image-upload-active-rgb, 0, 0, 255),
        0.05
      );
    }
  }

  .tiptap-image-upload-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
  }
}

.tiptap.ProseMirror.ProseMirror-focused {
  .ProseMirror-selectednode .tiptap-image-upload-dragger {
    border-color: var(--tiptap-image-upload-active);
  }
}

/* Dropdown menu */
.dropdown-menu {
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 0.7rem;

  display: flex;
  font-size: 14px;
  flex-direction: column;
  gap: 0.4rem;
  overflow: auto;
  padding: 0.4rem;
  position: relative;

  button {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 0.25rem;
    text-align: left;

    padding-inline: 5px;
    border-bottom: 1px solid transparent;

    &:hover,
    &:hover.is-selected,
    &.is-selected {
      border-bottom: 1px solid;
      margin-left: 5px;
      transition: all 0.5s ease;
    }
  }
}
