.simple-editor-content {
  margin-top: 1rem;
  min-height: 300px;
  cursor: text;
}
.tiptap {
  p {
    line-height: 2;
    letter-spacing: -0.01rem;
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
    font-size: calc(1rem * var(--font-scale));
  }
  :first-child {
    margin-top: 0;
  }

  /* placeholder */
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 14px;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.7;
  }
  .tiptap-image-upload-error-text {
    color: #eb5757;
    font-size: 0.75rem;
  }
  .tiptap h1 {
    font-size: calc(2.25rem * var(--font-scale));
  }
  .tiptap h2 {
    font-size: calc(1.75rem * var(--font-scale));
  }
  .tiptap h3 {
    font-size: calc(1.5rem * var(--font-scale));
  }
  .tiptap h4 {
    font-size: calc(1.25rem * var(--font-scale));
  }
  .tiptap h5 {
    font-size: calc(1.125rem * var(--font-scale));
  }
  .tiptap h6 {
    font-size: calc(1rem * var(--font-scale));
  }

  //   outline None
  &:focus,
  pre:focus {
    outline: none;
  }
  //   block Quote
  blockquote {
    border-left: 3px solid gray;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  .mention {
    background: var(--primary);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: var(--background);
    padding: 0.3rem 0.3rem;
    font-size: 12px;

    &::after {
      content: "\200B";
    }
  }

  // link
  a {
    color: var(--tt-brand-color-400);
    cursor: pointer;

    &:hover {
      color: var(--tt-brand-color-700);
    }
  }

  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}
