.meta-block-loading {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  p {
    margin: 0;
  }
}

.meta-block {
  a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;

    img {
      aspect-ratio: 16/9;
      width: 100%;
      object-fit: cover;
      margin-right: 1rem;
    }

    .meta-block-content {
      h4 {
        margin: 0 0 0.5rem 0;
      }
      p {
        margin: 0 0 0.5rem 0;
        font-size: 0.9rem;
        color: #555;
      }
      span {
        font-size: 0.8rem;
        color: #888;
      }
    }
  }
}
